.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input{
  border:1px solid #cccccccc;
  border-radius:5px;
  color: #222;
  background:#efefefcc;
}
select{
  border:2px solid #666;
  border-radius:5px;
  color: #222;
  font-weight:600;
}
.link svg{
  color:#444;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App-header {
  background-color: #282c34;
  min-height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.addLink{
  min-height:35px;
  margin-top:10px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.colorPlaceholder{
  height:20px;
  width:20px;
  border:0px solid #ccc;
  border-radius: 5px;
}
#TSContainer{
  width:100%;
  height:100%;
}
#TSContainer div{
  width:100%;
  height:100%;
}
body{
  height:100vh;
}
.logoImagePreview{
  width:70px;
  height:70px;
  background: #efefef;
  border:'1px dashed #bbb';
  border-radius: 5px;
}
.logoImagePreview:hover{
  cursor:pointer;
}
.settingLabel{
  margin-top:10px;
  margin-bottom:5px;
}
#settingsContainer{
  height:100%;
  display: flex;
  flex-direction: column;
}
.linkContainer{
  display: flex;
  flex-direction: column;
  height:100%;
  overflow: auto;
}
.link svg{
  height:20px;
  color:646464;
}
.contentLinkHorizontal{
  font-size:14px;
  font-family: 'Open Sans', sans-serif;
}
.contentLinkHorizontal:hover{
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px 5px 0px 0px;
  background:var(--secondary-color);
  color: var(--primary-color);
}
.contentLinkVertical{
  font-size:14px;
  font-family: 'Open Sans', sans-serif;
}
.contentLinkVertical:hover{
  cursor: pointer;
  font-weight: 600;
  background:var(--secondary-color);
  color: var(--primary-color);
}
.dropdownLink{
  font-size:14px;
  font-family: 'Open Sans', sans-serif;
}
.dropdownLink:hover{
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  background: var(--secondary-color);
  color: var(--primary-color);
}
.linkHeader{
  display:flex;
  flex-direction: row;
  font-size:12px;
  margin-bottom:5px;
}
.headerIcon{
  width:40px;
  height:40px;
  margin-bottom: 30px;
}
#settingsHeader{
  display: flex;
  flex-direction: row;
}
.close{
  flex:1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.button{
  width:60px;
  height:35px;
  font-size:10px;
  padding-left:5px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  border:1px solid #ededed;
  margin-right: 5px;
  border-radius: 5px;
}
.button:hover{
  cursor:pointer;
  background:#999;
  color:#fff;
}
.button svg{
  width:20px;
  margin-right:2px;
}
.settingLabel{
  font-size: 12px;
  font-weight:600;
}
.horizontalMenu{
  display: flex;
  flex-direction: row;
}
.verticalMenu{
  display:flex;
  flex:1;
  flex-direction: column;
}

.link{
  margin-bottom:5px;
  display:flex;
  align-items: center;
}
.link input{
  height:25px;
}
.link select{
  height:30px;
}

.hoverMenu {
  font-weight: 300;
  text-transform: none;
  background: #ffffff;
  color: #232323;
  border: 1px solid #efefef;
  border-top: 4px solid var(--secondary-color);
  box-shadow: 0px 0px 15px #cccccc33;
  border-radius: 0px 0px 5px 5px;
  padding:10px;
  margin-top: -4px
}
.nav__submenu-item:hover {
  background: rgba(#000, 0.1);

}
svg:hover{
  cursor:pointer;
}
.dropdown-content{
  color: #666;
  position: absolute;
  margin-top: var(--dropdown-top-margin);
  margin-left: var(--dropdown-left-margin);
  max-height: 150px;
  width:250px !important;
}
.select-panel, .options{
  max-height: var(--dropdown-max-height) !important;
}
.dropdown-container{
  width: var(--dropdown-width);
  margin-right: var(--dropdown-container-right-margin);
  color:#666;
  margin-bottom: var(--dropdown-container-bottom-margin);
}

td{
  height:25px;
  font-size:11px;
  margin-right:5px; 
  padding-left:10px;
}
thead{
  margin-bottom:15px;
  background: #f6f6f6;
}
th{
  padding:5px 15px 5px 15px;
  border: 1px solid #f6f6f6;
}
.filterPicker:hover{
  background:var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}
.sectionTitle{
  font-size:20px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  margin-left:15px;
  margin-top:15px;
}
div.advancedToggleButton{
  color:var(--secondary-color);
  background:var(--primary-color);
  width:180px !important;
  height:45px !important;
  margin-right:15px;
  font-size:14px;
  display:flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px #cccccccc;
  border-radius: 5px;
  border-bottom:4px solid var(--primary-color)
}
div.advancedToggleButton:hover{
  border-bottom:4px solid var(--secondary-color);
  cursor:pointer;
}
div.selected{
  border-bottom:4px solid var(--secondary-color);
}
.columnSelector{
  font-size:11px;
  word-wrap:none;
  display:flex;
  flex-direction:row;
  min-height:35px;
  max-height:35px;
  margin-top:5px;
  border-bottom:1px solid #efefef;
  align-items:center;
}